= form_for(@event, :builder => BootstrapHorizontalFormBuilder, :html => {:class => 'form-horizontal'}) do |f|

  = f.input_form_group(:name, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:start_time, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}, :text_field => {:class => "datetimepicker",:readonly => "readonly", :placeholder => "Choose start time"}})
  = f.input_form_group(:end_time, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}, :text_field => {:class => "datetimepicker",:readonly => "readonly", :placeholder => "Choose end time"}})
  = f.input_form_group(:price, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})

  .form-group 
    .col-sm-12.text-center
      = f.submit t('views.common.save'), :class => "btn btn-sm btn-primary"
      %a.btn.btn-sm.btn-default{:href=> events_path}= t('views.common.back')

