= form_for(@player, :builder => BootstrapHorizontalFormBuilder, :html => {:class => 'form-horizontal'}) do |f|

  = f.input_form_group(:name, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:surname, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:nickname, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:phone, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:skype, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:email, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:password, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})
  = f.input_form_group(:password_confirmation, {:label => {:class=> "col-sm-3"}, :text_field_wrapper => {:class => "col-sm-6"}})

  .form-group 
    .col-sm-12.text-center
      = f.submit t('views.common.save'), :class => "btn btn-sm btn-primary"
      %a.btn.btn-sm.btn-default{:href=> players_path(locale)}= t('views.common.back')