<!DOCTYPE html>
<html>
<head>
  <title>Football Factory</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <img src="/assets/1.jpg" style="min-height: 100%; min-width: 1600px; width: 100%; height: auto; position: fixed; top: 0; left: 0; z-index: -1;"/> -->
  <%= render 'layouts/navigation' %>

  <div class="container">
    <%= render 'layouts/messages' %>
    <%= yield %>
  </div>

</body>
</html>
